<nav class="navbar navbar-expand-sm bg-light navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="listReservations" class="nav-link text-dark" routerLinkActive="active">Reservation List</a>
    </li>
    <li class="nav-item">
      <a routerLink="createReservation" class="nav-link text-dark" routerLinkActive="active">Create Reservation</a>
    </li>
    <li class="nav-item">
      <a routerLink="listContacts" class="nav-link text-dark" routerLinkActive="active">Contact List</a>
    </li>
    <li class="nav-item">
      <a routerLink="createContact" class="nav-link text-dark" routerLinkActive="active">Create Contact</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>


<footer class="footer">
  <div class="container">
    <span>Yadi's Demo for Angular 8 and Spring Boot</span>
  </div>
</footer>
